* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::selection {
    background-color: $c-accent;
    color: $c-white;
  }
}

html {
  overflow: auto;
  overflow-x: hidden;
  font-family: "Scada", sans-serif;
}

body {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.3;
  color: $c-black;
  margin: 0;
  padding: 0;
  background-color: $c-bg;
  overflow: clip;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

h1 {
  font-family: "Scada", sans-serif;
  font-size: 52px;
  font-weight: bold;
  line-height: 1.1;
  @include laptop {
    font-size: 48px;
  }
}

h2 {
  font-family: "Scada", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.1;
  @include tablet768 {
    font-size: 36px;
  }
}

h3 {
  font-family: "Scada", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.1;
  color: $c-accent;
  @include laptop {
    font-size: 24px;
  }
  @include tablet768 {
    font-size: 22px;
  }
}

p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  position: relative;
  color: inherit;
  transition: color 0.3s ease-out;
  transition-property: background, color;
  display: inline-block;
  text-decoration: none;

  &:focus-visible {
    outline: none;
  }

  @include hover {
    &:hover {
      color: $c-accent;
      text-decoration: none;
      fill: $c-accent;
      &::after {
        right: 0;
      }
    }
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 100%;
    height: 2px;
    background-color: $c-accent;
    transition: all .3s;
  }
}

button {
  font-family: "Scada", sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 0;
  border: none;
  cursor: pointer;
}

img,
button {
  user-select: none;
  -webkit-user-drag: none;
}

picture {
  display: inline-block;
  line-height: 0;
  font-size: 0;
  width: 100%;
  height: 100%;

  & img {
    width: 100%;
    height: 100%;
  }
}

input {
  outline: none;
}

svg {
  transition: .3s ease-out;
}

.icon {
  stroke: $c-accent;
}

.btn {
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  color: $c-accent;
  &:active {
    background-color: $c-black;
  }
  &:disabled {
    background-color: #595D62;
  }
  &-primary {
    position: relative;
    overflow: hidden;
    background-color: $c-accent;
    color: $c-white;
    @include hover {
      &:hover {
        color: $c-white;
        &::after{
          animation: bgin .5s ease 1;
        }
      }
    }
    &::after {
      content: '';
      z-index: 1;
      width: 50%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: -100%;
      transition: left .3s ease;
      animation-name: bgout;
      animation-duration: .5s;
      transform: skew(-45deg);
      background-color: $c-white20;
    }
  }
  &-light {
    background-color: $c-bg;
  }
  &-border {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: max-content;
    overflow: hidden;
    border: 2px solid $c-accent;
    background-color: $c-bg;
    transition: all .3s ease;
    @include hover {
      &:hover {
        color: $c-white;
        &::after {
          animation-name: bginborder;
          transform: skew(-45deg) translate(-50%);
        }
        & .icon {
          stroke: $c-white;
          z-index: 2;
        }
      }
    }
    &:disabled {
      border-color: #595D62;
      color: #9D9D9D;
      background-color: $c-black5;
    }
    &::after {
      content: '';
      z-index: 0;
      width: 150%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      animation-name: bgoutborder;
      animation-duration: 400ms;
      transform: skew(-45deg) translate(-150%);
      background-color: $c-accent;
    }
    &>span {
      position: relative;
      z-index: 2;
    }
    &--white {
      background-color: $c-white;
    }
  }
  &-link {
    position: relative;
    padding: 12px 0;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    @include hover {
      &:hover {
        &::after {
          background-color: $c-black10;
        }
      }
    }
    &:active {
      color: $c-black;
      background-color: inherit;
      &::after {
        background-color: $c-black40;
      }
    }
    &:disabled {
      color: #9D9D9D;
    }
    &::after {
      content: '';
      position: absolute;
      width: calc(100% + 48px);
      height: 100%;
      top: 0;
      bottom: 0;
      left: -24px;
      right: -24px;
      border-radius: 30px;
      transition: all .3s ease;
      background-color: transparent;
    }
    & .icon {
      stroke: $c-accent;
    }
  }

  &-curcle {
    padding: 0;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    @include hover {
      &:hover {
        background-color: $c-accent;
        background-image: none;
        box-shadow: $s-hover;
      }
    }
    &::after {
      display: none;
    }
    &__tg {
      padding: 9px 9px 8px 7px;
      background-color: #2aabee;
      background-image: linear-gradient(0deg, #2aabee 0%, #229ed9 100%);
      & .icon {
        width: 19.5px;
        height: 16px;
        fill: $c-white;
        stroke: none;
      }
    }
    &__max {
      padding: 8px 8px 9px 9px;
      background-color: $c-accent;
      background-image: linear-gradient(74deg, rgb(68, 204, 255) 0%, rgb(85, 51, 238) 66.2%, rgb(153, 51, 221) 100%), radial-gradient(50% 50%, rgb(0, 0, 255) 0%, rgba(0, 0, 0, 0) 100%);;
      & .icon {
        width: 19px;
        height: 19px;
        fill: $c-white;
      }
    }
  }
  &-top {
    position: fixed;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 30px;
    right: 30px;
    z-index: 1;
    border-radius: 50%;
    background-color: $c-white;
    border: 2px solid $c-accent;
    opacity: 0;
    transition: background-color .3s;
    &.active {
      opacity: 1;
    }
    @include hover {
      &:hover {
        background-color: $c-accent;
        & .icon {
          stroke: $c-white;
        }
      }
    }
    &:active {
      background-color: $c-black;
      & .icon {
        stroke: $c-white;
      }
    }
  }
}

.txt-bold {
  font-weight: bold;
}

.content {
  & p {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
    &~ul {
      margin-top: 20px;
    }
  }
  & ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    &>li {
      position: relative;
      list-style: none;
      padding-left: 24px;
      &::before {
        content: '';
        position: absolute;
        top: 6px;
        left: 6px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-image: $gr;
      }
      &::after {
        content: '';
        position: absolute;
        top: 8px;
        left: 8px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: $c-bg;
      }
    }
  }
}

.title {
  margin-bottom: 40px;
  @include tablet768 {
    margin-bottom: 30px;
  }
  &-h2 {
    font-size: 40px;
    @include tablet768 {
      font-size: 36px;
    }
  }
}

.hover-img {
  position: relative;
  &>a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    @include hover {
      &:hover {
        &::before { 
          opacity: .4;
        }
        &::after {
          opacity: 1;
        }
      }
    }
    &::after {
      top: 50%;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);
      height: 24px;
      width: 24px;
      background-color: transparent;
      background-image: url('../img/icons/lupa.svg');
      background-repeat: no-repeat;
      transition: all .3s;
      opacity: 0;
      @include nothover {
        opacity: 1;
      }
    }
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);
      width: 48px;
      height: 48px;
      background-color: $c-white;
      border-radius: 50%;
      transition: all .3s;
      opacity: 0;
      @include nothover {
        opacity: .4;
      }
    }
  }
}

.info {
  &__block {
    padding: 40px;
    border-radius: 40px;
    background-color: $c-white;
    @include tablet768 {
      padding: 30px 20px;
    }
    & h3 {
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 20px;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-image: $gr;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;
      &>li {
        position: relative;
        list-style: none;
        padding-left: 24px;
        &::before {
          content: '';
          position: absolute;
          top: 6px;
          left: 6px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-image: $gr;
        }
        &::after {
          content: '';
          position: absolute;
          top: 8px;
          left: 8px;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: $c-bg;
        }
      }
    }
  }
  &__mini {
    padding: 20px;
    border-radius: 20px;
    background-color: $c-white;
    & strong {
      display: block;
      margin-bottom: 8px;
      color: $c-accent;
    }
  }
}

.pagination-nav {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  &__wrap {
    padding: 13.5px 16px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 40px;
    background-color: $c-white;
    & .active {
      font-weight: bold;
      color: $c-accent;
    }
  }
  &__arrow {
    cursor: auto;
    background-color: transparent;
    &:first-child {
      transform: rotate(180deg);
    }
    & span {
      display: block;
      padding: 12px;
      font-size: 0;
      background-color: $c-white;
      border-radius: 50%;
    }
    & a {
      padding: 12px;
      font-size: 0;
      background-color: $c-white;
      border-radius: 50%;
      @include hover {
        &:hover {
          background-color: $c-accent;
          & .icon {
            stroke: $c-white;
          }
        }
      }
      &::after {
        display: none;
      }
    }
  }
}

@keyframes bgin{
	from {
    left: -100%;
	}
	to {
    left: 120%;
	}
}
@keyframes bgout {
  from {
    left: 120%;
	}
	to {
    left: -100%;
	}
}


@keyframes bginborder {
	from {
		transform: skew(-45deg) translate(-150%);
	}
	to {
		transform: skew(-45deg) translate(-50%);
	}
}
@keyframes bgoutborder {
  from {
		transform: skew(-45deg) translate(-50%);
	}
	to {
		transform: skew(-45deg) translate(50%);
	}
}