.about {
  & .title {
    position: relative;
    z-index: 1;
    text-align: center;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    gap: 30px;
    @include desktop {
      grid-template-columns: 1fr;
    }
  }
  &__content {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 294px;
    gap: 20px;
    align-self: flex-start;
    @include tablet768 {
      grid-template-columns: 1fr;
    }
    &-text {
      grid-column: span 2;
      @include tablet768 {
        grid-column: auto;
      }
      & p:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    &-list {
      z-index: 1;
      & > p {
        display: block;
        font-weight: bold;
      }
      & > ul {
        margin-top: 8px !important;
      }
    }
    &-contacts {
      position: relative;
      @include glass;
      padding: 21px 40px;
      &::before {
        @include fon($gr-pink, 220px, 350px);
        transform: rotate(-220deg);
        top: -50px;
        filter: blur(50px);
      }
      & h3 {
        color: $c-black;
        margin-bottom: 10px;
      }
    }
    &-btn {
      flex-shrink: 0;
      & .icon {
        padding: 7px 6px 6px 5px;
        background-image: linear-gradient(0deg, #2aabee 0%, #229ed9 100%);
        border-radius: 50%;
        fill: $c-white;
        stroke: none;
      }
      &:hover {
        & .icon {
          fill: inherit;
        }
      }
    }
  }

  &__image {
    @include glass;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include desktop {
      flex-direction: row;
    }
    &::before {
      @include fon($gr-blue, 600px, 600px);
      top: 0px;
      @include tablet768 {
        top: -100px;
        right: -200px;
      }
    }
    & img {
      width: 100%;
      max-height: 200px;
      border-radius: 20px;
      @include desktop {
        height: 220px;
        &:last-child {
          display: none;
        }
      }
    }
  }
}
