.complaints {
  position: relative;
  &::before {
    @include fon($gr, 750px, 300px);
    transform: rotate(-45deg);
    top: 253px;
    left: -121px;
    @include laptop {
      display: none;
    }
  }
  &::after {
    content: '';
    position: absolute;
    top: 100px;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url('../img/design/line-articles.svg');
    background-repeat: no-repeat;
    background-size: calc(100% + 10px);
    @include media(1800px) {
      background-size: cover;
      background-position: center;
    }
    @include desktop {
      height: 63%;
    }
    @include tablet768 {
      background-position: 61%;
    }
  }
  &__container {
    display: grid;
    grid-template-columns: 303px 1fr;
    gap: 30px;
    align-items: start;
    @include laptop {
      grid-template-columns: 100%;
    }
  }
  &__block {
    @include glass;
    padding: 20px;
    border-radius: 20px;
    & h3 {
      margin-bottom: 20px;
      text-align: center;
    }
    & .btn {
      width: 100%;
      margin-bottom: 20px;
    }
    & p {
      text-align: center;
      font-size: 14px;
      line-height: 1.1;
      color: $c-gray-txt;
    }
  }
  &__slider {
    & .swiper-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      @include tablet768 {
        display: flex;
        gap: 0;
      }
    }
    & .slider-nav {
      display: none;
      @include tablet768 {
        display: flex;
      }
    }
  }
  &__item {
    padding: 40px;
    background-color: $c-white;
    border-radius: 40px;
    @include laptop {
      padding: 30px;
    }
    @include tablet768 {
      padding: 30px 20px;
      height: auto;
    }
    &-block {
      &:first-child {
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 20px;
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 2px;
          background: $gr;
        }
      }
      & h3 {
        margin-bottom: 8px;
      }
    }
  }

  & h2 {
    text-align: center;
  }
}