.profiles-info {
  position: relative;
  &::before {
    @include fon($gr, 750px, 300px);
    transform: rotate(-45deg);
    top: 253px;
    left: -121px;
    @include desktop {
      left: -300px;
    }
  }
  &::after {
    content: '';
    position: absolute;
    top: 100px;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url('../img/design/line-articles.svg');
    background-repeat: no-repeat;
    background-size: calc(100% + 10px);
    @include media(1800px) {
      background-size: cover;
      background-position: center;
    }
    @include desktop {
      height: 63%;
    }
    @include tablet768 {
      background-position: 61%;
    }
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    @include tablet768 {
      margin: 0 -15px;
      padding: 0 15px;
      display: flex;
      gap: 15px;
      overflow: scroll;
    }
  }
  &__item {
    @include laptop {
      padding: 30px;
    }
    @include tablet768 {
      padding: 30px 20px;
      width: 300px;
      flex-shrink: 0;
    }
    &:nth-child(2) {
      &>span {
        background-color: $c-pink;
      }
    }
    &:nth-child(3) {
      &>span {
        background-color: $c-orange;
      }
    }
    &>span {
      display: block;
      padding: 4px 12px;
      margin-bottom: 8px;
      max-width: max-content;
      font-size: 14px;
      line-height: 1.1;
      border-radius: 20px;
      background-color: $c-lil;
    }
    &>ul {
      & ~ strong {
        display: block;
        margin-top: 20px;
      }
    }
  }

  & .title {
    text-align: center;
  }
}