.provedal {
  &__container {
    @include glass;
    padding: 20px;
    border-radius: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    @include laptop {
      grid-template-columns: 100%;
    }
    @include tablet768 {
      padding: 0;
      box-shadow: none;
      background-color: transparent;
    }
  }
  &__col {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include phone {
      margin: 0 -15px;
      padding: 0 15px;
      &:last-child {
        flex-direction: row;
        gap: 15px;
        overflow: scroll;
        & .info__block {
          width: 300px;
          flex-shrink: 0;
        }
      }
    }
  }
  &__block {
    padding: 40px;
    background-color: $c-white;
    border-radius: 40px;
    @include tablet768 {
      padding: 30px 20px;
      & .btn {
        width: 100%;
      }
    }
    &>p {
      margin: 40px 0;
    }
    &>img {
      width: auto;
      height: 60px;
    }
    &-mini {
      padding: 20px;
      background-color: $c-white;
      border-radius: 20px;
      @include tablet768 {
        height: auto;
      }
      & strong {
        display: block;
        margin-bottom: 8px;
        color: $c-accent;
      }
    }
    &-info {
      display: flex;
      flex-direction: column;
      gap: 8px;
      @include tablet768 {
        gap: 12px;
      }
      &-item {
        display: grid;
        grid-template-columns: 120px 1fr;
        gap: 12px;
        @include tablet768 {
          grid-template-columns: 100%;
          gap: 8px;
        }
        & span {
          display: block;
          margin-top: 4px;
          font-size: 14px;
          line-height: 1.1;
          color: $c-gray-txt;
        }
      }
    }
    &-tag {
      display: block;
      max-width: max-content;
      padding: 4px 12px;
      border-radius: 20px;
      font-size: 14px;
      line-height: 1.1;
      background-color: $c-lil;
      margin-bottom: 8px;
    }
    & h3 {
      position: relative;
      margin-top: 8px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-image: $gr;
      }
    }
  }
  &__slider {
    & .swiper-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      @include tablet768 {
        display: flex;
        gap: 0;
      }
    }
    & .swiper-slide {
      height: auto;
    }
    & .slider-nav {
      display: none;
      @include tablet768 {
        display: block;
      }
    }
  }
}