.s-profiles {
  position: relative;
  &::before {
    @include fon(linear-gradient(181deg, $c-green 0%, $c-lil 25%, #e1a0ff 50.48%, $c-orange 75%, $c-yellow 100%), 320px, 681px);
    top: -100px;
    right: 200px;
    transform: rotate(-52deg);
    @include tablet768 {
      display: none;
    }
  }
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: -100px;
    bottom: -11px;
    left: -100px;
    width: 110%;
    background-image: url('../img/design/line.svg');
    background-size: 100%;
    background-repeat: no-repeat;
  }
  &__slider {
    position: relative;
    &-swiper {
      overflow: hidden;
    }
  }
  & .profile {
    padding: 40px;
    border-radius: 40px;
    background-color: $c-white;
    height: auto;
    @include desktop {
      padding: 30px;
      &__char span {
        padding: 8px 16px;
      }
    }
  }
  & .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include tablet768 {
      flex-wrap: wrap;
      gap: 20px;
    }
    & > img {
      height: 36px;
    }
  }
}