.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  overflow: auto;
  transition: transform 0.3s ease-out;
  transform: scale(0);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  padding-top: 70px;
  @include tablet768 {
    padding: 0 15px;
    padding-top: 70px;
    padding-bottom: 15px;
  }
  &.active {
    @include glass;
    border-radius: 0;
    display: flex;
    transform: scale(1);
    background-color: $c-black40;
    & .modal__body {
      animation: fade-in-top 0.6s 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    }
  }
  &__body {
    position: relative;
    padding: 40px;
    background-color: $c-white;
    border-radius: 40px;
    // overflow: auto;
    max-width: 703px;
    @include tablet768 {
      padding: 20px;
    }
  }
  &__close {
    position: absolute;
    top: -58px;
    right: 0;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all .3s ease;
    @include hover {
      &:hover {
        background-color: $c-accent;
        box-shadow: $s-hover;
        & .icon {
          stroke: $c-white;
        }
      }
    }
  }


  &__variants, &__variants2 {
    align-items: flex-start;
    &.active {
      @include desktop {
        align-items: flex-start;
        padding-bottom: 15px;
      }
    }
    &-wrapper {
      display: flex;
      gap: 16px;
      flex-wrap: wrap;
    }
    &-item {
      flex: 1;
      min-width: 160px;
      @include laptop {
        min-width: 198px;
      }
      @include tablet768 {
        min-width: 144px;
      }
      & .hover-img {
        font-size: 0;
        & img {
          width: 100%;
          height: 140px;
          border-radius: 20px;
        }
      }
      & p {
        font-weight: bold;
        text-align: center;
        margin-top: 8px;
      }
    }
    & .modal__body {
      max-width: 1300px;
    }
    & h2 {
      text-align: center;
      color: $c-accent;
      margin-bottom: 40px;
      @include tablet768 {
        margin-bottom: 20px;
      }
    }
  }

  &__work {
    & .modal__body {
      max-width: 620px;
      width: 100%;
    }
    &-slider {
      padding-bottom: 12px;
      margin-bottom: 20px;
      &-swiper {
        overflow: hidden;
        font-size: 0;
        & img {
          width: 100%;
          height: 260px;
          border-radius: 8px;
        }
      }
      & .swiper-pagination {
        margin-top: -28px;
        & .swiper-pagination-bullet {
          border-color: $c-bg;
          &-active {
            background-color: $c-bg;
          }
        }
      }
    }
    & h3 {
      color: $c-black;
      margin-bottom: 8px;
    }
  }
  &__reviews {
    @include tablet768 {
      align-items: flex-start;
    }
    & .modal__body {
      width: 100%;
      max-width: 620px;
    }
    &-container {
      & .reviews__item-content {
        -webkit-line-clamp: 100;
        & p:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }

  &__success {
    & .modal__body {
      max-width: 620px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
      @include tablet768 {
        grid-template-columns: 100%;
      }
    }
    &-content {
      & p {
        @include tablet768 {
          text-align: center;
        }
        margin-bottom: 8px;
        font-weight: bold;
        &:last-of-type {
          font-weight: normal;
          color: $c-gray-txt;
          margin-bottom: 20px;
          @include tablet768 {
            text-align: left;
          }
        }
      }
      & h2 {
        margin-bottom: 20px;
        color: $c-accent;
        @include tablet768 {
          text-align: center;
        }
      }
      & .btn {
        width: 100%;
        text-align: center;
      }
    }
    & img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      @include tablet768 {
        height: 200px;
      }
    }
  }
}


@keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}